<div>
    <h1>全ユーザ</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ユーザーID</th>
                <th>ユーザ名</th>
                <th>挨拶</th>
                <th>削除ボタン</th>
            </tr>
        </thead>
        <tbody class="child-container">
        </tbody>
    </table>
    <div>
        <button class="btn btn-default btn-reset" type="submit">デフォルト</button>
        <button class="btn btn-default btn-primary btn-save" type="submit">Save</button>
    </div>
    <a href="#mainContents/01">Miya</a>
    <a href="#mainContents/02">Taro</a>
    <a href="#mainContents/03">Jiro</a>
    <a href="#mainContents/showAll">showAll</a>
</div>
